.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
}

.modal-title {
  font-size: 1.5rem;
  font-weight: 600;
}

.modal-description {
  margin: 10px 0;
}
