.container {
  width: 100%;
  background: rgb(49, 133, 235);
  padding: 14px;
  border: 0;
  border-radius: 5px;
  margin: 0;
  cursor: pointer;
}

.text {
  color: white;
  font-weight: 700;
  font-size: 0.95rem;
  white-space: nowrap;
}
