.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0 0 0;
}

.container > div {
  margin: 5px 5px;
}

.link {
  text-decoration: none;
}
.separate {
  display: none;
}
@media screen and (min-width: 1024px) {
  .container {
    flex-direction: row;
  }
  .separate {
    display: inline;
  }
}
